# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.tanstack

.claude

# Local Netlify folder
.netlify

# Pocketbase
/src/functions/database/pb_schema.json
CLAUDE.md
pb_hooks/main.pb-backup.js
pb_hooks/main.pb-old-backup.js

# Documentation files
TAG_REDESIGN_PROJECT.md
TAG_REDESIGN_PROJECT_NOTES.md
TAG_RELATIONAL_REFACTOR_NOTES.md
public/images/docs-tagging-system-example.jpg
TANSTACK_POCKETBASE_GUIDE.md
IDEAS.md
